.postsBlock {
    padding: 10px;
}

.posts {
    margin-top: 10px;
}

.font {
    font-family: Century, sans-serif ;
    color: darkcyan;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 15px;
}

.like {
    ;
}


.form:focus {
color: #61dafb;
}