.button {
    background-color: #5e9e9f;
    color: black;
    border: 1px solid black;
    height: 25px;
    width: 70px;
    font-style: italic;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 7px;
    transition-duration: 1s;
    text-decoration: none;
    /*display: flex;*/
    /*justify-content: space-around;*/
}


.button:hover{
    background-color: #28e7b3;
    color: #767676 ;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}