.header {
    grid-area: header;
    background-color: darkred;
    padding: 10px;
    display: flex;
    border-radius: 5px;

}
.header img {
    width: 40px;

}

.loginBlock {
    display: flex;
    align-self: center;
    justify-self: center;
}

.loginBlock a {
    color: white;
}

