.descriptionBlock {
    display: flex;
    padding: 10px;
    color: gold;
}

.img {
    padding-left: 10px;
    padding-top: 10px;
    width: 400px;
    height: 250px;
    border-radius: 5px;
}

.status {
    padding-left: 10px;
    color: darkcyan;
    font-family: "Arial Black", sans-serif;
}


