.descriptionBlock {
    display: flex;
    padding: 10px;
    color: gold;
}

.img {
    padding-left: 10px;
    padding-top: 10px;
    width: 400px;
    height: 250px;
    border-radius: 5px;
}

.status {
    padding-left: 10px;
    color: darkcyan;
    font-family: Century, sans-serif;
}

.fileButton {

}

.fileButton:hover {
color: #28e7b3;
}