.App {
  /*width: 1280px;*/
  max-width: 100%;
  margin: 0 0;
  padding: 20px;
  display: grid;
  grid-template-areas: "header header"
                       "nav content";
  grid-template-rows: 60px 1fr;
  grid-auto-columns: 2fr 10fr;
  gap: 5px;
}

.app-wrapper-content {
  grid-area: content;
  background-color: burlywood;
  max-width: 1500px;
  min-width: 700px;
  border-radius: 20px;

}