.dialogs {
    display: grid;
    grid-template-columns:2fr 10fr;
}

.dialogsItems {
    padding-top: 10px;
    padding-left: 10px
}

.dialogsItems .active {
    color: gold;
}

.messages {
    padding-top: 10px;
}

.message {
    padding-top: 40px;
}

.user {
}

.user:hover {
    background-color: darkcyan; /* Green */
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

.dialog {
    color: darkcyan;
}

.avatar {
    height: 70px;
    width: 70px;
    border-radius: 35px;
}
