.dialogs {
    display: grid;
    grid-template-columns:2fr 10fr;
}

.dialogsItems {
    padding-top: 10px;
}

.dialogsItems .active {
    color: gold;
}

.messages {
    padding-top: 10px;
}

.message {

    padding-top: 10px;
}

.user {
}

.user:hover {
    background-color: darkgrey; /* Green */
    color: black;
    border-radius: 5px;
}

.dialog {
color: darkcyan;
}
